<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @test.subject %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @test.uploaded_by %>
</p>
<p>
	<%= image_tag @test.scanned_paper.url %>
</p>

<h4><b>Put Your Suggestions:</b></h4>
<%= bootstrap_form_for([@test, @test.comments.build]) do |f| %>
  <p>
  	<div class="row">
	<div class="col-md-4">

   <br>
    <%= f.text_area :content , label: "Suggestion" %>
</div>
</div>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

  <% end %>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
