<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/assets/javascripts/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
 <!-- <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%=root_path%>">SHREEJI CLASSES LOGO HERE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
               <li><a href="<%= new_form_path %>">Registration</a></li>
               <li class="presentation"><a href="<%= new_test_path %>">Test Papers</a></li>
                <li class="presentation"><a href="#">Facilities</a></li>
                <li><a href="<%= about_path %>">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

-->
    <!-- Carousel
    ================================================== -->

    <script> $(document).ready(function(){ $('.carousel').carousel(); });</script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
           <%= link_to image_tag("first.jpg", alt: "",class:"img-responsive center-block",width:"100%") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Get Ready For Enrollment...</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <style type="text/css">
        .my{height: 50px;}
        </style>
        <div class="item">
          <%= link_to image_tag("first.jpg", alt: "",class:"img-responsive center-block",width:"100%",height:"50%") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Here You can see the world in different way....</h1>
              <p>We are Providing Digital Education to compete with the tough world.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("first.jpg", alt: "",class:"img-responsive center-block",width:"100%") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Practise makes Maths Perfect....</h1>
              <p>We are here to help you out with new tricks,many new methods abput to help ypu through your life.Learn more to explore things.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Enroll for Tests</a></p>
            </div>
          </div>
        </div>
        <div class="item">
           <%= link_to image_tag("first.jpg", alt: "", class:"img-responsive center-block",width:"100%") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>See Facilities here that we are willing to provide for you........</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">See Gallerys</a></p>
            </div>
          </div>
        </div>
      </div>
      
     
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <%= link_to image_tag("second.jpg", alt:"",class:"img-circle",width:"140",height:"140") %> 
          <h2>Get Enroll Now</h2>
          <p>Fill Up Enrollment Form and See Your Self at Par as You Want.Click here for Enrollment... </p>
          <p><a class="btn btn-default" href="#" role="button">Enroll Now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("four.jpg", alt:"",class:"img-circle",width:"140",height:"140") %>
          <h2>See Achivements Here</h2>
          <p>Take a look at achivements that we have got since 2009.Click here to get all Previous Results that makes you better....</p>
          <p><a class="btn btn-default" href="#" role="button">Achivements&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("third.jpg", alt:"",class:"img-circle",width:"140",height:"140") %>
          <h2>Know More</h2>
          <p>Know more about classes and you can see that you will get everything that you need...</p>
          <p><a class="btn btn-default" href="#" role="button">About us &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">New Feature. <span class="text-muted"> It'll blow your mind.</span></h2>
          <p class="lead">Here We are introducing some interesting feature that will provide help for parents to track their child's progress plan. You can check latest results which shows your child's marks that he/she obtained in latest test.</p>
        </div>
        <div class="col-md-5">
           <%= link_to image_tag("second.jpg", alt:"") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Do your Practise. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Our method for teaching will help you to enhance your level by taking test which is available to this site. Find Test section and take test even from home for more practise.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
           <%= link_to image_tag("second.jpg", alt:"") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, Take a look at Facilities. <span class="text-muted">You'll see it.</span></h2>
          <p class="lead">Here we provide some good facilities that student need to study.Studdent can get atmosphere that will help to concentrate for study in class.</p>
        </div>
        <div class="col-md-5">
           <%= link_to image_tag("second.jpg", alt:"") %>
        </div>
      </div>

      

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER 
      <footer>

        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; SHRIJI CLASSES. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
