<html>
<body>
 

      
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%=root_path%>"><b>Logo Here</b></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="<%=root_path%>"><b>Home</b></a></li>
              <li><a href="<%= new_form_path %>"><b>Enrollment</a></li></b>
              <li><a href="<%= new_test_path %>"><b>Take Test</b></a></li>
              <li><a href="<%= facilities_path %>"><b>Facilities</b></a></li>
              <li><a href="<%= about_path %>"><b>About</b></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>More</b> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Results</a></li>
                  <li><a href="#">Take a hint</a></li>
                  <li><a href="#">Write review</a></li>
                  
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a href="#">Welcome, <%= current_user.email %></a></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li> 
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        
        <% else %>
        <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
        <li><a href="<%= new_user_session_path %>">Sign in <span class="glyphicon glyphicon-log-in"></span></a></li>
        <% end %>

        
        
      </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</body>
</html>

<!--<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation" class="active"><a href="<%=new_form_path%>">New Admission</a></li>
  <li role="presentation" class="active"><a href="#">Previous Results</a></li>
  <li role="presentation" class="active"><a href="#">About us</a></li>
</ul>-->