<html>
<body>

<style type="css">
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
</style>
<div id="owl-demo" class="owl-carousel owl-theme">
 
  <div ><%= link_to image_tag("fullimage1.jpg", alt: "First", width:"100%") %></div>
  <div ><%= link_to image_tag("fullimage2.jpg", alt: "Second", width: "100%") %></div>
  <div ><%= link_to image_tag("fullimage3.jpg", alt: "Third" , width: "100%") %></div>
  <div ><%= link_to image_tag("fullimage1.jpg", alt: "First", width:"100%") %></div>
  <div ><%= link_to image_tag("fullimage2.jpg", alt: "Second", width: "100%") %></div>
  <div ><%= link_to image_tag("fullimage3.jpg", alt: "Third" , width: "100%") %></div>
 
</div>

<script>
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
  autoPlay: 3000,
      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});
</script>

</html>
</body>