<p id="notice"><%= notice %></p>

<p>
  <strong>Registration date:</strong>
  <%= @form.Registration_Date %>
</p>

<p>
  <strong>Students full name:</strong>
  <%= @form.Students_Full_Name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @form.Standard %>
</p>

<p>
  <strong>School name:</strong>
  <%= @form.School_name %>
</p>

<p>
  <strong>Residential address:</strong>
  <%= @form.Residential_Address %>
</p>

<p>
  <strong>Fathers mobile number:</strong>
  <%= @form.Fathers_mobile_number %>
</p>

<p>
  <strong>Other contact number:</strong>
  <%= @form.Other_contact_number %>
</p>

<p>
  <strong>Maths:</strong>
  <%= @form.Maths %>
</p>

<p>
  <strong>Science and technology:</strong>
  <%= @form.Science_and_Technology %>
</p>

<p>
  <strong>Previous standard result:</strong>
  <%= @form.Previous_standard_result %>
</p>




<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
