<%= bootstrap_form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  	<div class="field">
  	<div class="row">
  	<div class="col-md-4">	
    <%= f.select :subject, options_for_select([["Maths","Maths"],["Science","Science"]]), prompt: "Please Select Subject..." %> </div>
</div>
</div>
<div class="row">
	<div class="col-md-4">
    <%= f.text_field :uploaded_by %> </div>
  </div>
</div>
<div class="field">
	<%= f.file_field :scanned_paper %>
	</div>

  
  

  <div class="form-actions">
  	<div class="center">
    <%= f.button :submit , class: "btn btn-info pull-center"%> </div>
  </div>
<% end %>
